
<%- include ('./partials/head.ejs') %>
<%- include ('./partials/nav.ejs') %>

<section>
    <h1>Online poll met resultaten</h1>
    <p>Admin kan een poll aanmaken en deze in laten vullen door users, users kunnen de poll invullen
        en de resultaten bekijken</p>
    </section>

    <script src="js/script.js"></script>

 <%- include ('./partials/footer.ejs') %>