
<%- include ('./partials/head.ejs') %>
<%- include ('./partials/nav.ejs') %>

    <h1>Maak een nieuwe poll</h1>
    <p>Maak een nieuwe poll zodat users ze in kunnen vullen</p>

<body>
    <h2>Nieuwe poll</h2>

    <form action=""></form>
</body>

<%- include ('./partials/footer.ejs') %>