

<%- include ('./partials/head.ejs') %>
<%- include ('./partials/nav.ejs') %>

    <h1>Bekijk polls</h1>
    <p>Bekijk de polls die de admin gepost heeft en vul ze in</p>
    <form action="POST">
        <fieldset>
        <label for="question">Question:</label>
        <p class="question"></p>
        <label for="anwser">Anwser:</label>
        <input type="text" id="lname" name="lname">
        <input type="submit" value="Verstuur">
    </fieldset>
    </form>

    <%- include ('./partials/footer.ejs') %>