

<%- include ('./partials/head.ejs') %>
<%- include ('./partials/nav.ejs') %>

    <h1>Bekijk polls</h1>
    <p>Bekijk de polls die de admin gepost heeft en vul ze in</p>



    <%- include ('./partials/footer.ejs') %>