/* #ece2d0
 #384d48
 #d1462f */


 @font-face {
    font-family: Basteleur-Bold;
    src: url("Basteleur-Bold.otf"); /* IE9 Compat Modes */
    src: local('otf/Basteleur-Bold'), format('truetype');
}

@font-face {
    font-family: SpaceMono-Regular;
    src: url("SpaceMono-Regular.ttf"); /* IE9 Compat Modes */
    src: local('fonts/SpaceMono-Regular.ttf'), format('truetype');
}



html {
    background-color: #ece2d0;
}

h1, h2, h3 {
    font-family: Basteleur-Bold;
  
    color: #384d48;
}

h1 {
    font-size: 700%;
}

h2 {

    font-size: 300%;
}

h2 {
    font-size: 150%;  
}

section:first-of-type {
    padding-right: 20%;
}

p, a {
    font-family: 'Space Mono', monospace;
    font-size: 1em;
   
    color: #384d48;
}

p {
    font-size: 200%;
}

a {
    color: #384d48;  
    font-size: 100%; 
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li  {
    padding-right: 5%;
    list-style-type: none;
    font-family: SpaceMono-Regular, monospace; 
    color: #384d48;
   

}

section:nth-of-type(2) {
    border: 2px solid #384d48;
}

label {
    font-family: SpaceMono-Regular, monospace;
    color: #384d48;
    display: block;
    padding: 1% 0 1% 0;
}

input::placeholder {
    color: #384d4879;
}

input[type=text] {
    font-family: SpaceMono-Regular, monospace; 
    background-color: #ece2d0;
    padding: 20px 430px 20px 10px;
    border: 2px solid #384d48;
}

input[type=submit] {
    font-family: SpaceMono-Regular, monospace; 
    display: block;
    color: #ece2d0;
    background-color: #384d48;
    border: none;
    margin-top: 2%;
    padding: 20px;
}